@media only screen and (max-width: 1484px) and (min-width: 1214px) {
	#projects .work{
        padding:20px 15% 5%;
    }
}
@media only screen and (max-width: 1214px) and (min-width: 1000px) {
	#projects .work{
        padding:20px 12%;
    }
}

@media (max-width: 992px) {


.greeting h2 {
  font-size: 3rem;
}

#title .greeting h1 {
  font-size: 5.7rem;
}
#title a.navbar-brand, #title .navbar-toggler {
  font-size: 3.3rem;
}
#title ul li.nav-item {
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 1px rgba(255, 255, 255, 0.425) solid;
}

#aboutMe p, p {
  font-size: 1.6rem;
}
#title .bttn, #aboutMe .bttn {
  margin-top: 7%;
  font-size: 1.5rem;
}
  /* #title .row {
    padding-bottom: 7%;
  } */
  .row .greeting {
  padding-top: 20%;
  position: absolute;
  z-index: 1;
}
#title .row img {
  float: right;
}

#aboutMe .row {
  text-align: center;
}

#aboutMe .profile-pic {
  width: 50%;
  border-radius: 100%;
  float: none;
  text-align: center;
  margin: 5%;
  
}

#social-media a {
  display: block;
  font-size: 2rem;
  color: rgb(15, 73, 75)
}

#social-media a:hover {
  color: rgb(92, 129, 121);
  font-size: 2.3rem;
}

#education ul li {
  width: 100%;
  /* font-size: 2rem; */
  margin-bottom: 10%;
}
#education li.left, li.right {
  float: none;
  text-align: left;
}

#projects .work{
        padding:20px 10%;
    }
    #projects .card{
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 350px;
	height:400px;
	border-radius:12px;
  background: black;
}
#projects .card .work-content{
	text-align: center;
	padding: 10px 10px;
	font-size: 2rem;
}

.social-media{
	padding: 40px;
	display: flex;
	position: center;
  align-items: space-around; 
	justify-content:center;

}

.social-media a {
    margin: 15px;
    font-size: 3.5rem;
    text-align:center;
    display: inline-block;
	color: var(--main-fonts-color);
}
}
