@media (max-width: 992px) {

  /* #title .row {
    padding-bottom: 7%;
  } */
  .row .greeting {
  padding-top: 20%;
  position: absolute;
  z-index: 1;
}
#title .row img {
  float: right;
}

#aboutMe .row {
  text-align: center;
}

#aboutMe .profile-pic {
  width: 50%;
  float: none;
  text-align: center;
  margin: 5%;
  
}

#social-media a {
  display: block;
  font-size: 2rem;
  color: rgb(15, 73, 75)
}

#social-media a:hover {
  color: rgb(92, 129, 121);
  font-size: 2.3rem;
}
}