/* Extra small devices (phones, 600px and down) */
@media (max-width: 990px) {
  
  .heading {
    font-size: 5rem;
  }
  #title .navbar-toggler {
  font-size: 3.5rem;
  margin: 1.5% 1%;
  }
  #title a.navbar-brand {
    font-size: 4rem;
  }
  #title .nav-link, #title .nav-item {
    margin:4% auto;
    font-size: 3rem;
  }
  /* home section */
  #title .row .greeting {
    z-index: 999;
    padding: 65% 2% 0;
    position: absolute;
    backdrop-filter: grayscale(5) opacity(0.8);
  }
  .social-media {
    margin-top: 10%;
    display: block;
    text-align: center;
  }
  .social-media a,.social-media i {
    font-size: 5rem;
  }
  #title .row img.bg {
  display: none;
  }
  #title .row img.mobile-bg {
    display: block;
    margin-top: 15%;
    float: right;
    width: 120%;
  }
  
  #title .row h1 {
    font-size: 10rem;
  }
  #title .row h2 {
    font-size: 4rem;
  }
  /* about me section */
  #aboutMe {
    padding: 15% 5%;
  }
  #aboutMe .row {
  text-align: center;
}
#aboutMe .about-heading {
  font-size: 5rem;
}
#aboutMe .profile-pic {
  width: 60%;
  border-radius: 100%;
  float: none;
  text-align: center;
  margin: 0 0 5%;
}
#aboutMe h3 {
  font-size: 3rem;
}
#aboutMe p {
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: justify;
}
#aboutMe .about a {
  font-size: 3rem;
  margin: 5%
}
/* my skills section */
#skills {
  padding: 15% 5%;
}
#skills h1 {
  font-size: 5rem;
  margin-bottom: 0; 
}
#skills .skill-logo {
  text-align: center;
}
#skills img {
  width: 80%;
  margin-bottom: 6%;
  border: none;
}
#skills li {
  padding: 15px;
  font-size: 2rem;
}
#skills .bar {
  height: 15px;
}
#skills .bar span {
  height: 15px;
}
#skills h3, #skills h4 {
  font-size: 2.5rem;
}

/* education and exp */
#education {
  padding: 15% 5%;
}
#education h1.heading {
  font-size: 5rem;
  padding-bottom: 7%;
  text-align: center;
}
.timeline-content .date {
  font-size: 26px;
}
#education ul li {
  line-height: 1.6;
  margin-bottom: 5rem;
  width: 80%;
  }
#education li.rightbefore {
  width: 80%;
}
#education li.leftbefore {
  width: 80%;
}
#education li h1 {
  font-size: 2.8rem;
}
#education p {
  font-size: 2rem;
}
/* project section */
#projects {
  padding: 7% 1%;
}
#projects h1 {
  font-size: 5rem;
}
#projects p {
  font-size: 30px;
}
#projects .work {
  padding: 0;
}
#projects .card {
  margin: 40px 30px;
  width: 390px;
	height:370px;
}
#projects .card .work-content {
  font-size: 2rem;
  padding: 5px;
}
#projects .card .work-content:hover {
  font-size: 2.4rem;
}

#form_container {
  padding: 10% 5%;
}
#form_container h4 {
  font-size: 3rem;
}
#form_container label {
  font-size: 2rem;
}
#form_container .mssg {
  height: 15rem;
  font-size: 2.5rem;
  }
  #form_container .info {
  height: 8rem;
  font-size: 2.5rem;
  }
  #form_container .btn {
  font-size: 3rem;
}
.footer-distributed {
  padding: 10% 15%;
  text-align: center;
}
.footer-distributed h3 {
  font-size: 4rem;
}
.footer-distributed .footer-company-name {
  font-size: 2.5rem;
  color: #3DCFD3;
}
.footer-distributed .footer-left {
  font-size: 2rem;
  margin: 25px;
}
.footer-distributed .footer-center {
  width: 100%;
  font-size: 2rem;
  padding: 0px;
  line-height: 4rem;
}
.footer-distributed .footer-center i, .footer-distributed .footer-icons a {
  font-size: 35px;
	width: 48px;
	height: 48px;
}
#myBtn {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 10px;
  bottom: 40px;
}
#social-media a {
  display: none;
}
#social-media ul .line {
  display: none;
}
    
}